body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.header {
    background-color: #1F2937;
    color: white;
}

.texts-and-sign-up-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.second-section-of-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.image-placeholder{
    height: fit-content;
    width: fit-content;
}

#main-text {
    font-size: 40px;
    font-weight:900;
    color: #f9faf8;
}

#secondary-text {
    color: #e5e7eb;
    font-size: 14px;
}

.logo-and-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.logo-and-links h1{
    font-size: 24px;
}

.sign-up-button {
    color: rgb(255, 255, 255); 
    font-size: 20px; 
    line-height: 20px; 
    padding: 12px; 
    border-radius: 11px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal;  
    background-color: rgb(63, 63, 228);
    box-shadow: rgba(0, 0, 0, 0) -100px -100px 0px 0px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;}
.sign-up-button:hover {
    background: #1C6EA4; }
.sign-up-button:active {
    background: #144E75; 
}