body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.header {
    background-color: #1F2937;
    color: white;
}

.texts-and-sign-up-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.second-section-of-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.image-placeholder{
    height: fit-content;
    width: fit-content;
}

#main-text {
    font-size: 40px;
    font-weight:900;
    color: #f9faf8;
}

#secondary-text {
    color: #e5e7eb;
    font-size: 14px;
}

.logo-and-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.logo-and-links h1{
    font-size: 24px;
}

.sign-up-button {
    color: rgb(255, 255, 255); 
    font-size: 20px; 
    line-height: 20px; 
    padding: 12px; 
    border-radius: 11px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal;  
    background-color: rgb(63, 63, 228);
    box-shadow: rgba(0, 0, 0, 0) -100px -100px 0px 0px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;}
.sign-up-button:hover {
    background: #1C6EA4; }
.sign-up-button:active {
    background: #144E75; 
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 500px;
}

.content-head{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 25px;
    padding: 25px;
}

.free-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.box{
    border:#3882f9 solid;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.text{
    text-align: center;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #152937;
    text-align: center;
    max-width: 500px;
}

.name{
    text-align: end;
    font-size: 30px;
    font-weight: 500;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.footer div{
    border:#3882f9 solid;
    background-color: #3882f9;
    border-radius: 25px;
    padding: 20px;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}